*{
  margin: 0;
  padding: 0;
  color: rgba(21, 1, 1, 0.79);
  text-align: center;
}
h1{
  margin: 1rem 0 1rem 0;
  text-decoration: underline;
  text-shadow: 2px 2px 3px rgb(1, 39, 57);

}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    /* border: 10PX solid red; */
    justify-content: center;
  
    
  }
  .box{
    width: 6rem;
    height: 6rem;
    margin: auto;
    padding: 5px;
    display: grid;
    text-align: center;
    align-items: center;
    border: none;
    /* border-radius: 0.6rem; */
    background:  rgba(214, 243, 244, 0.719);
    box-shadow: 0 0 2px 3px rgba(5, 0, 0, 0.161) ;
    
}
